@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Create Users";
    @model User;
}

<h2>@ViewData["Title"]</h2>

@if (ViewBag.Message != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.Message
    </div>
}

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

