/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  :root {
    --primary-color: #605DC8;
    --secondary-color: #8B89E6;
    --accent-color: #e8e7fa;
    --shadow-color: #E8E8E8;
  }

  * {
    @apply m-0 p-0;
  }

  body {
    @apply font-sans;
  }

  button.primary {
    @apply px-4 py-2 border text-white rounded-md;
    border-color: var(--primary-color);
    background-color: var(--primary-color);
  }
}
